{# This file contains common actions that might be reused across jobs.
   This file is imported in the base template, so every job has access to them #}

{# Common actions #}
{% macro install_docker() %}
    {% include "shared/actions/install-docker.yaml" %}
{% endmacro %}

{% macro create_python_environment(venv_name) %}
    {% include "shared/actions/create-python-environment.yaml" %}
{% endmacro %}

{% macro create_python_environment_on_device(venv_name) %}
    {% include "shared/actions/create-python-environment-on-device.yaml" %}
{% endmacro %}

{% macro install_mbl_cli(venv_name) %}
    {% include "shared/actions/install-mbl-cli.yaml" %}
{% endmacro %}

{% macro provision_mbl(venv_name) %}
    {% include "shared/actions/provision-mbl.yaml" %}
{% endmacro %}

{% macro enable_wifi(venv_name) %}
    {% include "shared/actions/enable-wifi.yaml" %}
{% endmacro %}

{% macro delete_certificate(venv_name) %}
    {% include "shared/actions/delete-certificate.yaml" %}
{% endmacro %}

{% macro sleep(seconds, iteration="") %}
    {% include "shared/actions/sleep.yaml" %}
{% endmacro %}

{# Reusable tests #}
{% macro avahi_discovery(stage, iteration="") %}
    {% include "shared/tests/avahi-discovery.yaml" %}
{% endmacro %}

{% macro core_components(venv_name) %}
    {% include "shared/tests/core-component.yaml" %}
{% endmacro %}

{% macro rootfs_update(test_stage, rootfs, image_url, update_method, venv_name, iteration="") %}
    {% include "shared/tests/rootfs-update.yaml" %}
{% endmacro %}

{% macro build_test_images(venv_name) %}
    {% include "shared/tests/build-test-images.yaml" %}
{% endmacro %}

