{# This file contains common actions that might be reused across jobs.
   This file is imported in the base template, so every job has access to them #}

{# Common actions #}
{% macro install_docker() %}
    {% include "shared/actions/install_docker.yaml" %}
{% endmacro %}

{% macro install_mbl_cli(venv_name) %}
    {% include "shared/actions/install_mbl_cli.yaml" %}
{% endmacro %}

{% macro mbl_test_dependency() %}
    {% include "shared/actions/mbl_test_dependency.yaml" %}
{% endmacro %}

{% macro mbl_cli_provisioning(venv_name) %}
    {% include "shared/actions/mbl_cli_provisioning.yaml" %}
{% endmacro %}

{% macro enable_wifi(venv_name) %}
    {% include "shared/actions/enable_wifi.yaml" %}
{% endmacro %}

{% macro restart_mbl_cloud_client() %}
    {% include "shared/actions/restart_mbl_cloud_client.yaml" %}
{% endmacro %}

{% macro delete_certificate(venv_name) %}
    {% include "shared/actions/delete_certificate.yaml" %}
{% endmacro %}

{# Reusable tests #}
{% macro mbl_avahi_discovery_test(stage) %}
    {% include "shared/tests/mbl_avahi_discovery_test.yaml" %}
{% endmacro %}

{% macro mbl_component_test(component_name, setup, teardown) %}
    {% include "shared/tests/mbl_component_test.yaml" %}
{% endmacro %}

{% macro rootfs_update(test_stage, image_url, update_method, venv_name) %}
    {% include "shared/tests/rootfs_update.yaml" %}
{% endmacro %}

{% macro build_hello_world() %}
    {% include "shared/tests/build-helloworld.yaml" %}
{% endmacro %}
